.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    background-color: var(--semi-transparent);
    padding: 6rem;
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}

.buttonAndProfile {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.button {
    background-color: var(--black);
    color: var(--off-white);
    border-radius: 30px;
    padding: 0.75rem 2rem;
    border: none;
}

.mobileHam {
    display: none;
}

/* Mobile */
@media only screen and (max-width: 400px) {
    .buttonAndProfile {
        display: none;
    }

    .list {
        display: none;
    }

    .mobileHam {
        display: block;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 3rem 3rem 3rem 40%;
    }
  }