.main {
display: flex;
align-items: center;
width: auto;
box-sizing: border-box;
margin: 4em 0em 1em 0em;


}

.line1 {
    width: 10em;

}

.line2 {
width: 100%;
float: right;


}

.test{
width: auto;
flex-shrink: 0;
padding: 0px 1.5em;
}