:root {
 --black: #0B0C20;
 --blue: #22527E;
 --light-blue: #A9C8DA;
 --gray: #EBF4F5;
 --orange: #EC8B58;
 --off-white: #EbF4F5;
  --white: #fff;
 --semi-transparent: rgba(235, 244, 245, 0.5);
 }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}