.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  background: linear-gradient(to top left, #A9C8DA, #EBF4F5, #EBF4F5);
}

.intro {
  padding: 6rem;
  display: flex;
  flex-direction: row;
}

.leftCol {
  width: 50%;
  padding: 0 2rem;
}

.welcome {
  color: var(--blue-grey);
  font-size: 35px;
}

.jimmy {
  font-size: 50px;
}

.para {
  padding: 2rem 0;
}

.smallHeader {
  font-size: 20px;
  padding: 0.5rem 0;
}

.paraTwo {
  padding: 0 0 1rem 0;
}

.quizButton {
  color: var(--light-peach);
  background-color: var(--dark-blue);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 50px;
  margin-left: 11rem;
  cursor: pointer;
}

.rightCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

.entryBox {
  width: 210px;
  height: 95px;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.entry {
  font-size: 18px;
}

.jobs {
  font-size: 24px;
}

.topRight {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}

.remoteBox {
  width: 235px;
  height: 183px;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.bottomRight {
  width: 295px;
  height: 135px;
  background-color: var(--orange);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
  margin-left: 10.5rem;
}

/* Mobile */
@media only screen and (max-width: 400px) {
  .intro {
    padding: 3rem;
  }
  .rightCol {
    display: none;
  }
  .leftCol {
    width: 100%;
    padding: 0 2rem;
  }
  .quizButton {
    margin-left: 24%;
    padding: 1rem 1.25rem;
  }
  .paraTwo {
    padding: 0 0 2rem 0;
  }

}